{% extends 'base.html.twig' %}

{% block title %}Cart
{% endblock %}

{% block body %}
	{% include('widgets/navbar/index.html.twig') with {'count': 'cart_count'} %}

	<main class="cart-page">
		<h2>Your Cart</h2>


		{% if cart_products %}

			<div class="container">

				<div class="col-10">

					{% for item in cart_products %}

						<div class="card mb-3">
							<div class="card-img">
								<img src="{{item.image}}" alt="{{item.name}}">
							</div>
							<div class="card-body col">
								<div class="card-name-and-price">
									<h5 class="card-title">{{item.name}}</h5>
									<p class="card-text">{{item.price|format_currency('EUR')}}</p>
								</div>
								<div class="card-quantity">
									<p class="card-text">Quantity :
										{{item.quantity}}</p>
								</div>
							</div>
							<div class="remove-from-cart">
								<a href="{{path('app_cart_remove_item', {"id": item.id})}}">
									<i class="fi fi-rs-trash"></i>
								</a>
							</div>
						</div>

					{% endfor %}
				</div>

				<div class="col-2">

					<div>

						<div class="cart-info">
							<div>
								<p>Number of products</p>
								<p>{{cart_count}}</p>
							</div>
							<div>
								<p>Subtotal</p>
								<p>{{cart_total|format_currency('EUR')}}</p>
							</div>
							<div>
								<p>Total</p>
								<p>{{(cart_total_ttc)|format_currency('EUR')}}</p>
							</div>
						</div>

						<a href="{{path('app_checkout')}}" class="checkout-btn">Checkout</a>
					</div>
				</div>
			</div>

		{% else %}

			<div class="empty-cart">
				<h6>The cart is empty!</h6>
			</div>
		</main>

	{% endif %}
{% endblock %}
