{% extends 'base.html.twig' %}

{% block title %}Order list
{% endblock %}

{% block body %}


	<div class="admin-page">


		{{ include('back/index.html.twig') }}


		<div class="content">

			<div class="full-width">


				<section class="metrics">
					<div class="count">
						<div class="label">
							<b>Number of users</b>
						</div>
						<div class="output">
							<span>{{orders | length}}</span>
						</div>
					</div>
				</section>

				<table class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Client</th>
							<th>Order date</th>
							<th>Subtotal price</th>
							<th>Total price</th>
							<th>actions</th>
						</tr>
						<tr class="filters">
							<form action="{{ path('app_admin_order_list_search') }}">
								<th>
									<input type="text" name="id" placeholder="">
								</th>
								<th>
									<input type="text" name="client" placeholder="">
								</th>
								<th>
									{# <input type="date" name="order_date" placeholder=""> #}
								</th>
								<th>
									<input type="text" name="subtotal_price" placeholder="">
								</th>
								<th>
									<input type="text" name="total_price" placeholder="">
								</th>
								<th>
									<button type="submit" style="width: initial;">
										<i class="fi fi-rs-search"></i>
									</button>
								</th>
							</form>
						</tr>
					</thead>
					<tbody>
						{% for order in orders %}
							<tr>
								<td>{{ order.id }}</td>
								<td>
									{% if order.client.email is not defined %}
										{{ order.email }}
									{% else %}
										{{order.client.email}}
									{% endif %}
								</td>
								<td>{{ order.orderDate ? order.orderDate|date('Y-m-d H:i:s') : '' }}</td>
								<td>{{ order.totalPriceHt|format_currency('EUR') }}</td>
								<td>{{ order.totalPriceTtc|format_currency('EUR') }}</td>
								{# <td>{{ order.items ? order.items|join(', ') : '' }}</td> #}
								<td class="actions">
									<a href="{{ path('app_admin_order_show', {'id': order.id}) }}" title="Show details">
										<i class="fi fi-rs-eye"></i>
									</a>
									{# <a href="{{ path('app_admin_order_edit', {'id': order.id}) }}">edit</a> #}
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="6">no orders found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

				{# <a href="{{ path('app_admin_order_new') }}">Create new</a> #}


			</div>
		</div>
	</div>

{% endblock %}
