{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}

<div class="admin-page">

{{ include('back/index.html.twig') }}

    <div class="content">

    <div>

    <header>
    <a href="{{ path('app_admin_order_index') }}" class="back-btn">
        <i class="fi fi-rs-arrow-left"></i> back to list
    </a>
        <h3>Order</h3>  
    </header>

    <table class="table show">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ order.client.email }}</td>
            </tr>
            <tr>
                <th>Order date</th>
                <td>{{ order.orderDate ? order.orderDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Subtotal price</th>
                <td>{{ order.totalPriceHt|format_currency('EUR') }}</td>
            </tr>
            <tr>
                <th>Total price</th>
                <td>{{ order.totalPriceTtc|format_currency('EUR') }}</td>
            </tr>
            <tr>
                <th>Items</th>
                {% if order.items %}
                <td>
                    {% set total_qty = 0 %}
                    {% for item in order.items %}
                        Product : {{item.name}}<br>
                        Price (unit) : {{item.price|format_currency('EUR')}}<br>
                        Quantity : {{item.quantity}}<br>

                        {% if loop.index < order.items|length %}
                        <hr class="dotted">
                        {% endif %}

                        {% set total_qty = total_qty + item.quantity %}
                    {% endfor %}
                </td>
                {% endif %}
            </tr>
            <tr>
                <th>Total quantity</th>
                <td>{{total_qty}}</td>
            </tr>
        </tbody>
    </table>

    {{ include('back/admin_order/_delete_form.html.twig') }}
    </div>
    </div>
    </div>
{% endblock %}
