<nav>
	<div class="navbar">
		<div class="left-hand">
			<a href="{{ path('home') }}">
				<h2 class="logo">ANIME<span>STORE</span>
					<h2></a>
				</div>
				<div class="middle">
					<ul>
						<li>
							<p>
								<a href="{{ path('app_product_list') }}">Catalogue</a>
							</p>
						</li>
						{% if app.user %}
							<li>
								<p>
									<a href="{{ path('app_dashboard') }}">Dashboard</a>
								</p>
							</li>
						{% endif %}
					</ul>

                    <div class="mobile-view-menu">
						<button onclick="openMobileNavMenu(true)">
							<i class="fi fi-rs-bars-sort"></i>
						</button>
                    </div>
				</div>
				<div class="right-hand">
					<div class="side-options">
						<ul>
							<li>

								{% if app.user %}
									<a href="{{path('app_logout')}}" title="Log out">
										<i class="fi fi-rs-sign-out-alt"></i>
									</a>

								{% else %}

									<a href="{{ path('app_login') }}">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewbox="0 0 16 16">
											<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
											<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
										</svg>
									</a>

								{% endif %}

							</li>
							<li>
								<a href="{{ path('app_cart') }}" title="Cart">
									<i class="fi fi-rs-shopping-cart"></i>
									{% if app.request.getSession().get("cart") is defined and app.request.getSession().get("cart") is not null and app.request.getSession().get("cart").getTotalCount() > 0 %}
									<div class="cart-badge">
										<span>{{ app.request.getSession().get("cart").getTotalCount() }}</span>
									</div>
									{% endif %}
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

            <div class="mobile-sidemenu">
				<div class="centered">
                <ul>
						<li>
							<p>
								<a href="{{ path('app_product_list') }}">Catalogue</a>
							</p>
						</li>
						{% if app.user %}
							<li>
								<p>
									<a href="{{ path('app_dashboard') }}">Dashboard</a>
								</p>
							</li>
						{% endif %}
					</ul>
					<button type="button" onclick="openMobileNavMenu(false)">Close</button>
					</div>
            </div>
		</nav>

<script>
	var sidemenu = document.getElementsByClassName('mobile-sidemenu')[0];
	var body = document.body;

	function openMobileNavMenu(open) {
		if (open) {
			body.style.overflow = 'hidden';
			sidemenu.classList.add('show');
		} else {
			body.style.overflow = 'auto';
			sidemenu.classList.remove('show');
		}
	}
</script>