{% extends 'base.html.twig' %}

{% block title %}
	Home
{% endblock %}

{% block body %}

	{% include('widgets/navbar/index.html.twig') %}

	<main class="home-page">

						<section class="top-boxes">
							<div class="box box-33">
								<a href="{{path('app_product_list_filtered', {'anime': ['one-piece']})}}">
									<img src="https://1000logos.net/wp-content/uploads/2022/08/One-Piece-Logo.png" alt="One Piece">
								</a>
							</div>
							<div class="box box-33">
								<a href="{{path('app_product_list_filtered', {'anime': ['naruto']})}}">
									<img src="https://www.freepnglogos.com/uploads/naruto/naruto-meu-photoscape-aviso-rapidinho-png-anime-tutorial-5.png" alt="Naruto">
								</a>
							</div>
							<div class="box box-33">
								<a href="{{path('app_product_list_filtered', {'anime': ['bleach']})}}">
									<img src="https://upload.wikimedia.org/wikipedia/fr/thumb/8/86/Bleach_%28manga%29_Logo.svg/2560px-Bleach_%28manga%29_Logo.svg.png" alt="Bleach">
								</a>
							</div>
						</section>

						<section class="categories">
							<ul>
								<li>
									<a href="{{path('app_product_list_filtered', {'category': ['t-shirt']})}}">
										<img src="https://www.ripplejunction.com/media/catalog/product/Preview/TA/TAAS2137_NAVY_HEATHER.jpg?store=default&image-type=image" alt="T-Shirt Category">
										<div class="description">
											<p>T-Shirts</p>
										</div>
									</a>
								</li>
								<li>
                                    <a href="{{path('app_product_list_filtered', {'category': ['sweatshirt']})}}">
                                        <img src="https://www.ripplejunction.com/media/catalog/product//Preview/BH/BHBW2245_BLACK.jpg?store=default&image-type=image" alt="Sweatshirt Category">
									<div class="description">
										<p>Sweatshirts</p>
									</div>
                                    </a>
								</li>
								<li>
                                    <a href="{{path('app_product_list_filtered', {'category': ['socks']})}}">
                                        <img src="https://www.ripplejunction.com/media/catalog/product/Preview/OP/OPSY2599_FORM.jpg?store=default&image-type=image" alt="Socks Category">
									<div class="description">
										<p>Socks</p>
									</div>
                                    </a>
								</li>
								<li>
                                <a href="{{path('app_product_list_filtered', {'category': ['hat']})}}">
                                <img src="https://www.ripplejunction.com/media/catalog/product/Preview/8T/8TBN2142_FRONT.jpg?store=default&image-type=image" alt="Hat Category">
                                        <div class="description">
										<p>Hats</p>
									</div>
                                    </a>
								</li>
							</ul>
						</section>

						{# <section class="recommendations">
							<h2 class="bordered">Recommendations</h2>
							<div class="slidershow">
								<nav>
									<div class="nav-btn left">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewbox="0 0 16 16">
											<path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
										</svg>
									</div>
									<div class="nav-btn right">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewbox="0 0 16 16">
											<path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
										</svg>
									</div>
								</nav>
								<ul>
									{% for item in 0..5 %}
										<li>
											<div class="product-card">
												<div class="image">
													<img src="https://www.ripplejunction.com/media/catalog/product/Preview/8T/8TAS2455_BLACK.jpg?width=700&height=700&store=default&image-type=image" alt="">
												</div>
												<div class="text-body">
													<p>$35.00</p>
													<h6>Attack on Titan Colossal Titan Screenshots T-Shirt</h6>
												</div>
											</div>
										</li>
									{% endfor %}
								</ul>
							</div>
						</section> #}


					</main>

				{% endblock %}
