{% extends 'base.html.twig' %}

{% block title %}
	Catalog
{% endblock %}

{% block body %}

	{% include('widgets/navbar/index.html.twig') %}

	<main class="product-list-page">
		<h2>Our Catalog</h2>

		<h4>There are
			{{products|length}}
			items</h4>

		<div class="flex">
			<aside>
				<div>

					<form id="filter-form" action="{{ path('app_product_list_filtered') }}" onsubmit="return checkEntries(event);">

						<h5>Anime</h5>
						<ul>
							<li>
								<input type="checkbox" name="anime[]" id="category-onepiece" value="one-piece" {% if filters.anime is defined and "one-piece" in filters.anime %} checked {% endif %}>
								<label for="category-onepiece">One Piece</label>
							</li>
							<li>
								<input type="checkbox" name="anime[]" id="category-naruto" value="naruto" {% if filters.anime is defined and "naruto" in filters.anime %} checked {% endif %}>
								<label for="category-naruto">Naruto</label>
							</li>
							<li>
								<input type="checkbox" name="anime[]" id="category-attack-on-titan" value="attack-on-titan" {% if filters.anime is defined and "attack-on-titan" in filters.anime %} checked {% endif %}>
								<label for="category-attack-on-titan">Attack on Titan</label>
							</li>
							<li>
								<input type="checkbox" name="anime[]" id="category-death-note" value="death-note" {% if filters.anime is defined and "death-note" in filters.anime %} checked {% endif %}>
								<label for="category-death-note">Death Note</label>
							</li>
							<li>
								<input type="checkbox" name="anime[]" id="category-bleach" value="bleach" {% if filters.anime is defined and "bleach" in filters.anime %} checked {% endif %}>
								<label for="category-bleach">Bleach</label>
							</li>
						</ul>

						<br>

						<h5>Category</h5>
						<ul>
							<li>
								<input type="checkbox" name="category[]" id="category-tshirt" value="t-shirt" {% if filters.category is defined and "t-shirt" in filters.category %} checked {% endif %}>
								<label for="category-tshirt">T-shirt</label>
							</li>
							<li>
								<input type="checkbox" name="category[]" id="category-sweatshirt" value="sweatshirt" {% if filters.category is defined and "sweatshirt" in filters.category %} checked {% endif %}>
								<label for="category-sweatshirt">Sweatshirt</label>
							</li>
							<li>
								<input type="checkbox" name="category[]" id="category-socks" value="socks" {% if filters.category is defined and "socks" in filters.category %} checked {% endif %}>
								<label for="category-socks">Socks</label>
							</li>
							<li>
								<input type="checkbox" name="category[]" id="category-hat" value="hat" {% if filters.category is defined and "hat" in filters.category %} checked {% endif %}>
								<label for="category-hat">Hat</label>
							</li>
						</ul>

						<br>

						<h5>Price</h5>

						<div class="row">
							<div class="column">
								<label for="min-price">Min Price</label>
								<input type="number" id="min-price" name="min-price" min="1.00" max="60.00" step="0.01">

								{% if filters.minPrice is defined %}
									<div class="filtered-price-tag">
										<span>{{filters.minPrice|format_currency('EUR')}}</span>
										<svg onclick="document.getElementsByName('min-price')[0].value = '';document.getElementsByName('prev-min-price')[0].value = ''; this.parentElement.remove();" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewbox="0 0 16 16">
											<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
										</svg>
									</div>
								{% endif %}

								<input type="hidden" name="prev-min-price" {% if filters.minPrice is defined %} value={{filters.minPrice}} {% endif %}>
							</div>
							<div class="column">
								<label for="max-price">Max Price</label>
								<input type="number" id="max-price" name="max-price" min="1.00" max="60.00" step="0.01">

								{% if filters.maxPrice is defined %}
									<div class="filtered-price-tag">
										<span>{{filters.maxPrice|format_currency('EUR')}}</span>
										<svg onclick="document.getElementsByName('max-price')[0].value = '';document.getElementsByName('prev-max-price')[0].value = ''; this.parentElement.remove();" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewbox="0 0 16 16">
											<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
										</svg>
									</div>
								{% endif %}

								<input type="hidden" name="prev-max-price" {% if filters.maxPrice is defined %} value={{filters.maxPrice}} {% endif %}>
							</div>
						</div>

						<br>

						<button type="submit" id="filter-btn" class="large-btn">Apply Filter</button>
                        
                        <br>

                        <button type="button" class="mobile-view large-btn grey" onclick="openMobileFilters(false)">Close</button>

					</form>

				</div>
			</aside>

			<ul class="product-list">
				{% for product in products %}
					<li>
						<a href="{{ path("app_product", { "id": product.id}) }}">
							<div class="structure">
								<div class="img-box">
									<img src={{product.urlimg}}>
								</div>
								<div class="text-body">
									<p>{{product.price|format_currency('EUR')}}</p>
									<h6>{{product.name}}</h6>
								</div>
							</div>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>

        <div class="mobile-view spacer"></div>

        <button type="button" class="mobile-view large-btn open-filter" onclick="openMobileFilters(true)">Open Filters</button>

	</main>


	<script src="/js/utils.js"></script>

    <script>
	var filters = document.getElementsByTagName('aside')[0];

	const filterSubmitButton = document.querySelector('#filter-btn');

	var body = document.body;

	function openMobileFilters(open) {
		if (open) {
			body.style.overflow = 'hidden';
			filters.classList.add('show');
		} else {
			body.style.overflow = 'auto';
			filters.classList.remove('show');
		}
	}

	const checkEntries = (event) => {
		event.preventDefault();

		const minPriceInput = document.querySelector("#min-price"),
		maxPriceInput = document.querySelector("#max-price"),
		animeCheckboxes = document.querySelectorAll("*[name='anime[]']:checked"),
		categoryCheckboxes = document.querySelectorAll("*[name='category[]']:checked");


		const minPriceNum = Number(minPriceInput.value);
		const maxPriceNum = Number(maxPriceInput.value);
		
		try {

			if (animeCheckboxes.length === 0 && categoryCheckboxes.length === 0 && maxPriceInput.value.length === 0 && minPriceInput.value.length === 0) {
				throw "At least one of the filter options should be selected";
			} else if ((minPriceInput.value != "" && minPriceNum < 1 || minPriceNum > 60) ||
				(maxPriceInput.value != "" && maxPriceNum < 1 || maxPriceNum > 60)
			) {
				throw "The text fields should have a value comprise between 1 and 60";
			} else if (isNaN(minPriceInput.value) || isNaN(maxPriceInput.value)) {
				throw "The values in the text fields must only be numbers";
			}

			document.querySelector('#filter-form').submit();

		} catch (e) {
			const toast = createToast(e);
			document.body.innerHTML += toast;

			closeToast();
		}
	}


</script>

{% endblock %}
